/* General Styles */
body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #e0f7fa;
    font-size: 16px;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 2.5em;
    margin: 20px 0;
}

h2 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 2em;
    margin: 15px 0;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #0077cc;
    color: white;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #005fa3;
}

.logo img {
    max-width: 80px;
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1em;
}

nav a:hover {
    color: #00ff00;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 40px 20px;
    background-color: #b2ebf2;
    border-radius: 10px;
    border: 2px solid #0077cc;
}

.hero .main-image img {
    max-width: 100%;
    height: auto;
}

.hero h1 {
    margin: 30px 0;
    font-size: 2.5em;
}

/* main-text */
.main-text {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    font-size: 1em;
}

/* Cards Section */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    background-color: #e1f5fe;
    border-radius: 10px;
    border: 2px solid #b2ebf2;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 300px;
    text-align: center;
    overflow: hidden;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card p {
    padding: 0 15px 15px;
    font-size: 0.9em;
}

.card a {
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    color: #0077cc;
    border: 1px solid #0077cc;
    border-radius: 5px;
    padding: 5px 10px;
}

.card a:hover {
    background-color: #0077cc;
    color: white;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
    width: 100%;
    border-top: 3px solid #005fa3;
}

.footer-content {
    margin: 0 auto;
}

footer p {
    font-size: 1em; 
    margin: 10px 0;
}

.social-media a {
    margin: 0 15px;
}

.social-media img {
    width: 80px;
    height: auto;
}
