body {
    background-color: black;
    margin: 0 auto;
}

.container {
    width: 300px;
    background-color: white;
    text-align: center;
    margin: 10px auto;
    border-radius: 20px;
    overflow: hidden;
}

footer {
    color: white;
    background-color: #405C89;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin: 0 auto;
}